body{
    background-color: #880e4f;
}
.formDiv{
    margin-top: 60px;
    border-radius: 25px;
    background-color: white;
    color: #880e4f;
}
input{
    background-color: #880e4f !important; 
    color: white !important;
}
#favFood{
    display: none;
}
#myName{
    display: none;
}
#otherSubjects{
    display: none;
}

#samsung{
    display: none;
}
#s-class{
    display: none;
}
#note{
    display: none;
}
#iphone{
    display: none;
}
#iphonePro{
    display: none;
}
#button{
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
}
